@page "/dashboard"
@using System.Net.Http
@inject HttpClient Http

<h1>QRSS Plus</h1>

<h3>Dashboard</h3>

<button @onclick="UpdateAsync" disabled="@Tracker.IsUpdating">Update</button>

<table>
    <tr>
        <th>Grabber ID</th>
        <th>Callsign</th>
        <th>Location</th>
        <th>Image</th>
        <th>Site</th>
        <th>Active Grabs</th>
        <th>Last Grab (days)</th>
    </tr>
    @foreach (GrabberStatus grabber in Tracker.Grabbers)
    {
        <tr>
            <td><code>@grabber.ID</code></td>
            <td>@grabber.Callsign</td>
            <td>@grabber.Location</td>
            <td><a href="@grabber.ImageUrl">link</a></td>
            <td><a href="@grabber.SiteUrl">link</a></td>
            <td>@grabber.GrabUrls.Length</td>
            <td>@(Math.Round(grabber.AgeMinutes / (24 * 60), 1))</td>
        </tr>
    }
</table>

@code {
    private GrabberTracker Tracker = new GrabberTracker();

    private async Task UpdateAsync()
    {
        await Tracker.UpdateAsync();
    }
}
