@page "/grabbers"
@using System.Net.Http
@inject HttpClient Http

<h1>QRSS Plus</h1>

<div><code>Updating: @Tracker.IsUpdating</code></div>
<div><code>Next update: </code></div>

<h1>Active Grabbers</h1>

@foreach (var grabber in Tracker.ActiveGrabbers)
{
    <img src="@grabber.ThumbUrls.Last()" width="150" height="100" class="border shadow m-2" />
}

<h1>Active Grabbers</h1>

@foreach (var grabber in Tracker.ActiveGrabbers)
{
    <div class="mb-5">
        <h1>
            @grabber.ID
        </h1>
        <div>
            @grabber.Name in @grabber.Location (<a href="@grabber.SiteUrl">website</a>)
        </div>

        @if (grabber.GrabUrls.Length > 0)
        {
            <div>Latest grab (@(grabber.AgeMinutes < 20 ? "<20" : $"{grabber.AgeMinutes:N2}") minutes ago)</div>
            <div>
                <img src="@grabber.GrabUrls.Last()" class="border shadow m-2 img-fluid" />
            </div>

            @foreach (string imageUrl in grabber.ThumbUrls.Reverse())
            {
                <img src="@imageUrl" width="150" height="100" class="border shadow m-2" />
            }
        }
        else
        {
            <div>Inactive for @grabber.AgeDays days</div>
        }
    </div>
}

@code{
    private readonly GrabberTracker Tracker = new GrabberTracker();

    protected async override Task OnInitializedAsync()
    {
        await Tracker.UpdateAsync();
    }
}
